.recipe-page {
  padding: 20px;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px;
  }
  
  .add-recipe-button {
    margin: 10px;
  }
  
  .action-button {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #007bff;
    border-radius: 5px;
    color: #fff;
    background-color: #007bff;
    cursor: pointer;
  }
  .add-recipe-button{
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #007bff;
    border-radius: 5px;
    color: #fff;
    background-color: #007bff;
    cursor: pointer;
  }
  .recipe-list-view {
    margin-top: 20px;
  }
  